button {
    margin-bottom: 10px;
}

.card {
    margin: 10px 10px 10px 10px;
}

.item {
    /* height: 48px;
    width: 110px; */
    text-align: center;
    padding: 10px 0px 10px 0px;
    border: 1px solid grey;
}
